<div id="register_form">
	<%= form_with model: @user, method: :post do |f| %>
		<p>
			<%= f.label :name, "Name" %>
			<div class="text-box"><%= f.text_field :name %></div>
		</p>
		<p>
			<%= f.label :email, "Email" %>
			<div class="text-box"><%= f.email_field :email %></div>
		</p>
		<p>
			<%= f.label :password, "Password" %>
			<div class="text-box"><%= f.password_field :password %></div>
		</p>
		<p>
			<%= f.label :password_confirmation, "Password Confirmation" %>
			<div class="text-box"><%= f.password_field :password_confirmation %></div>
		</p>
		<%= f.submit "Register", class: "btn btn-success"%>
	<% end %>
</div>